.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
02-props配置项
3-mixin混入
04-javascript储存对象
05-todolist-first
06-todolist-本地储存
07-todolist-自定义事件
08-全局事件总线
09-todolist-pubsub
10-todolist-edit
11-动画&过渡
12-todolist-animate
13-配置代理